
<nav *ngIf="page==0" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a (click)="setPage(2)" class="nav-item nav-link active" href="#">Affichez défis <span class="sr-only">(current)</span></a>
      <a  (click)="setPage(3)" class="nav-item nav-link" href="#">Modifiez Défi</a>
      <a (click)="setPage(1)" class="nav-item nav-link" href="#">Ajouter Défi</a>
    </div>
  </div>
</nav>

<app-test-submit></app-test-submit>

<app-creation-defi (Page)="setPage($event)"  *ngIf="page==1"></app-creation-defi>
<app-defi-details (Page)="setPage($event)" *ngIf="page==2"></app-defi-details>
<app-edit-defi (Page)="setPage($event)" [parentData]="page" *ngIf="page==3"></app-edit-defi>

